In [253]:
import numpy as np
import pandas as pd

submit=pd.read_csv('/content/sample_submission.csv')
test=pd.read_csv('/content/test.csv')
train=pd.read_csv('/content/train.csv')
train

       단지코드  총세대수 임대건물구분  ... 도보 10분거리 내 버스정류장 수 단지내주차면수   등록차량수
0     C2483   900    아파트  ...                3.0  1425.0  1015.0
1     C2483   900    아파트  ...                3.0  1425.0  1015.0
2     C2483   900    아파트  ...                3.0  1425.0  1015.0
3     C2483   900    아파트  ...                3.0  1425.0  1015.0
4     C2483   900    아파트  ...                3.0  1425.0  1015.0
...     ...   ...    ...  ...                ...     ...     ...
2947  C2532   239    아파트  ...                1.0   166.0   146.0
2948  C2532   239    아파트  ...                1.0   166.0   146.0
2949  C2532   239    아파트  ...                1.0   166.0   146.0
2950  C2532   239    아파트  ...                1.0   166.0   146.0
2951  C2532   239    아파트  ...                1.0   166.0   146.0

[2952 rows x 15 columns]

In [254]:
test

       단지코드  총세대수  ... 도보 10분거리 내 버스정류장 수 단지내주차면수
0     C1072   754  ...                2.0   683.0
1     C1072   754  ...                2.0   683.0
2     C1072   754  ...                2.0   683.0
3     C1072   754  ...                2.0   683.0
4     C1072   754  ...                2.0   683.0
...     ...   ...  ...                ...     ...
1017  C1267   675  ...                1.0   467.0
1018  C2189   382  ...                2.0   300.0
1019  C2189   382  ...                2.0   300.0
1020  C2189   382  ...                2.0   300.0
1021  C2189   382  ...                2.0   300.0

[1022 rows x 14 columns]

In [255]:
submit

      code  num
0    C1072    0
1    C1128    0
2    C1456    0
3    C1840    0
4    C1332    0
..     ...  ...
145  C2456    0
146  C1266    0
147  C2152    0
148  C1267    0
149  C2189    0

[150 rows x 2 columns]

In [256]:
print(train.isna().sum())
print(test.isna().sum())

train=train.fillna(0) #nan값을 0으로 채움
test['자격유형']=test['자격유형'].fillna('P')
test['임대보증금']=test['임대보증금'].fillna(0)
test['임대료']=test['임대료'].fillna(0)
test['도보 10분거리 내 지하철역 수(환승노선 수 반영)']=test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

print(test.isna().sum()) #제대로 채워졌는지 확인

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64
단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64
단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            0
임대보증금                           0
임대료                             0
도보 10분거리 내 지하철역 수(환승노선 수 반영)    0
도보 10분거리 내 버스정류장 수              0
단지내주차면수                         0
dtype: int64

In [257]:
print(train.dtypes)

단지코드                             object
총세대수                              int64
임대건물구분                           object
지역                               object
공급유형                             object
전용면적                            float64
전용면적별세대수                          int64
공가수                             float64
자격유형                             object
임대보증금                            object
임대료                              object
도보 10분거리 내 지하철역 수(환승노선 수 반영)    float64
도보 10분거리 내 버스정류장 수              float64
단지내주차면수                         float64
등록차량수                           float64
dtype: object

In [258]:
cols=[]
for i in (train.columns):
  if train[i].dtypes=='O':
    cols.append(i)
print(cols)
del cols[6]
del cols[5]
print(cols)

['단지코드', '임대건물구분', '지역', '공급유형', '자격유형', '임대보증금', '임대료']
['단지코드', '임대건물구분', '지역', '공급유형', '자격유형']

In [259]:
for i in(train[train['임대료']=='-'].index):
  train['임대료'][i]=0
for i in(train[train['임대보증금']=='-'].index):
  train['임대보증금'][i]=0

for i in(test[test['임대료']=='-'].index):
  test['임대료'][i]=0
for i in(test[test['임대보증금']=='-'].index):
  test['임대보증금'][i]=0

train[train['임대료']=='-']
train[train['임대보증금']=='-']

train.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

단지코드                             object
총세대수                              int64
임대건물구분                           object
지역                               object
공급유형                             object
전용면적                            float64
전용면적별세대수                          int64
공가수                             float64
자격유형                             object
임대보증금                            object
임대료                              object
도보 10분거리 내 지하철역 수(환승노선 수 반영)    float64
도보 10분거리 내 버스정류장 수              float64
단지내주차면수                         float64
등록차량수                           float64
dtype: object

In [260]:
for i in range(len(train['임대료'])):
  train['임대료'][i]=int(train['임대료'][i])
  train['임대보증금'][i]=int(train['임대보증금'][i])

for i in range(len(test['임대료'])):
  test['임대료'][i]=int(test['임대료'][i])
  test['임대보증금'][i]=int(test['임대보증금'][i])


print(train.dtypes)

for i in range(len(train['임대료'])):
  if type(train['임대료'][i])!=int:
    print(train['임대료'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

단지코드                             object
총세대수                              int64
임대건물구분                           object
지역                               object
공급유형                             object
전용면적                            float64
전용면적별세대수                          int64
공가수                             float64
자격유형                             object
임대보증금                            object
임대료                              object
도보 10분거리 내 지하철역 수(환승노선 수 반영)    float64
도보 10분거리 내 버스정류장 수              float64
단지내주차면수                         float64
등록차량수                           float64
dtype: object

In [261]:
#test의 자격유형에 어떤 object가 있는지 확인하고 제거

set(test['자격유형'])

{'A', 'C', 'D', 'E', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'P'}

In [262]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in cols:
  train[i]=le.fit_transform(train[i])
  test[i]=le.fit_transform(test[i])

In [263]:
test.dtypes

단지코드                              int64
총세대수                              int64
임대건물구분                            int64
지역                                int64
공급유형                              int64
전용면적                            float64
전용면적별세대수                          int64
공가수                             float64
자격유형                              int64
임대보증금                            object
임대료                              object
도보 10분거리 내 지하철역 수(환승노선 수 반영)    float64
도보 10분거리 내 버스정류장 수              float64
단지내주차면수                         float64
dtype: object

In [264]:
train['등록차량수']

0       1015.0
1       1015.0
2       1015.0
3       1015.0
4       1015.0
         ...
2947     146.0
2948     146.0
2949     146.0
2950     146.0
2951     146.0
Name: 등록차량수, Length: 2952, dtype: float64

In [265]:
y_train=train['등록차량수']
x_train=train.drop('등록차량수',axis=1)

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=2)
knn.fit(x_train,y_train)
y_pred=knn.predict(test)

#from sklearn.linear_model import LogisticRegression
#clf = LogisticRegression(random_state=0)
#clf.fit(x_train,y_train)
#y_pred=clf.predict(test)

#from sklearn.ensemble import RandomForestRegressor
#regr = RandomForestRegressor(max_depth=2, random_state=0)
#regr.fit(x_train,y_train)
#y_pred=regr.predict(test)

test.insert(14,'등록차량수',y_pred)
print(test)

      단지코드  총세대수  임대건물구분  ...  도보 10분거리 내 버스정류장 수  단지내주차면수  등록차량수
0       10   754       1  ...                 2.0    683.0  945.0
1       10   754       1  ...                 2.0    683.0  870.0
2       10   754       1  ...                 2.0    683.0  870.0
3       10   754       1  ...                 2.0    683.0  870.0
4       10   754       1  ...                 2.0    683.0  903.5
...    ...   ...     ...  ...                 ...      ...    ...
1017    29   675       1  ...                 1.0    467.0  345.0
1018   107   382       1  ...                 2.0    300.0   93.0
1019   107   382       1  ...                 2.0    300.0   93.0
1020   107   382       1  ...                 2.0    300.0  800.0
1021   107   382       1  ...                 2.0    300.0  691.0

[1022 rows x 15 columns]

In [266]:
test= test.groupby(['단지코드']).mean()
test

        총세대수    임대건물구분    지역  ...  도보 10분거리 내 버스정류장 수  단지내주차면수        등록차량수
단지코드                          ...
0      480.0  1.000000   2.0  ...                 3.0    339.0   476.375000
1     1505.0  0.259259   6.0  ...                 5.0    428.0   115.518519
2      643.0  1.000000   1.0  ...                 4.0    646.0   672.750000
3      321.0  1.000000  12.0  ...                 3.0    259.0   362.750000
4       75.0  1.000000   1.0  ...                 2.0     29.0   569.833333
...      ...       ...   ...  ...                 ...      ...          ...
145    879.0  1.000000   1.0  ...                16.0    802.0   423.500000
146    512.0  1.000000   1.0  ...                 3.0   1016.0  1247.937500
147   2572.0  0.065217   7.0  ...                 2.0    418.0   123.423913
148    150.0  1.000000  10.0  ...                 3.0    107.0   361.250000
149    765.0  1.000000   1.0  ...                19.0    910.0   715.333333

[150 rows x 12 columns]

In [267]:
submit['num']=test['등록차량수']
submit.to_csv('predict.csv',index=False)